.App {
  text-align: center;
}

.App-header {
  font-family: 'Facebook Letter Faces', sans-serif;
  color: #316FF6;
  border-bottom: 1px solid black;
  font-size: 150%;
  margin-top: -10px;
  padding-bottom: -40px;
}
